<div class="container ">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Указатели -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Контент слайда (slider wrap)-->
  <div class="carousel-inner">
    <div class="item active">
      <%=image_tag('1.jpg')%>
      <div class="carousel-caption">

      </div>
    </div>

    <div class="item">
      <%=image_tag('2.jpg')%>
      <div class="carousel-caption">

      </div>
    </div>
  </div>
  <!-- Элементы управления -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>

<!-- Intro -->
<div class="container text-center">
  <br> <br>
  <h2 class="thin">Простий і зручний сервіс по доставці товарів з брендових магазинів</h2>
  <p class="text-muted">
    Вибераєте товар який вам подобається, оформлюєте замовлення у нас на сайті, <br>
    а все інше ми беремо на себе!
  </p>
</div>
<!-- /Intro-->