<div class="container ">
   <div class="col-md-2">
     Замовлення<br>
     Оплата<br>
     Доставка
   </div>
  <div class="col-md-9">
    <h3>Про сервіс</h3>
    [Назва сайту] - Простий і зручний сервіс по доставці товарів з брендових магазинів. Ми допомагаємо зробити покупку
     будь-якого товару з Інтернет-сайтів в Угорщині і доставити його Вам! Вибераєте товар який вам подобається,
    оформлюєте замовлення у нас на сайті, а все інше ми беремо на себе!
     <h3>Замовлення</h3>
    Щоб скористатись послугами нашого сервісу Вам потрібно перейти на сайт інтернет-магазину, вибрати товар який бажаєте придбати, повернутись до нас на сайт та
    натиснути на кнопку 'Зробити замовлення'
    у верхній частині сайту. Після цього, Ви побачите форму для замовлення. В перше поле копіюєте посилання на товар, який
    Ви бажаєте замовити. Далі вводите його назву, вказуєте розмір. В поле 'Введіть ціну ...Ft' вказуєте ціну товару. Ціна
    вказана на сайті біля товару. Не потрібно переводити її, просто вказуєте ту ціну яка вказана на сайті вибраного вами товару.
    Не забудьте вказати Колір товару. Якщо бажаєте замовити 2 або більше однакових товара, то в поле Кількість вкажіть цю кількість.
    Ви можете залишити коментарі або побажання для нашого менеджера у відповідному полі.
    Перевірте чи коректно ви заповнили всі обовязкові поля і натисніть 'Додати в корзину'.<br>
    В Корзині ви можете додати ще один товар або оформити замовлення натиснувши на 'Оформити замовлення'<br>
    Через декілька хвилин з вами звяжеться наш менеджер для уточнення деталей і підтверження замовлення.

      <h3>Оплата</h3>
    Для того, щоб ми викупили для Вас товар, який Ви замовили, вам потрібно оплатити Ваше замовлення. Оплата здійснюється на
    карту Приват-Банку. Наші реквізити для оплати будуть відправлені в sms-повідомленні на Ваш мобільний або на електронну
    пошту, вказану Вами при реєстрації, після підтвердження вашого замовлення менеджером.
    Звертаємо Вашу увагу на те, що товари викуповуються тільки після 100% оплати замовлення.
      <h3>Доставка</h3>
    Шановні покупці, доставка здійснюється на вказане Вами відділення Нової Пошти (Ви завжди можете змінити адресу відділення
    в налаштуваннях вашого профілю). Будь ласка, уважно заповнюйте ваші дані і правильно вказуйте адресу відділення Нової Пошти!<br>

    Термін доставки замовлення 5-14 днів. За цей час ми викупимо товари які ви замовили, привеземо їх в Україну і відправимо
    вам Новою Поштою.
  </div>
</div>