<br>
<br>
<br>
<br>

<table class="table table-striped">
 <tr>
   <td>
     #
   </td>
   <td>
     Пошта
   </td>
   <td>
     Телефон
   </td>
   <td>
     Дата реєстрації
   </td>
 </tr>
 <% @users.each do |u| %>
  <tr>
    <td>
     <%= u.id %>
    </td>
    <td>
      <%= u.mail %>
    </td>
    <td>
      <%= u.phone %>
    </td>
    <td>
      <%= u.created_at %>
    </td>
  </tr>
      <% end %>
</table>