@import "bootstrap-sprockets";
@import "bootstrap";

body {
 background-color: #F4F4F4;
}
.flash {
  position: absolute;
}

.item {
  box-shadow: rgba(0, 0, 0, 0.11) 12px 12px 12px;
}
 table {
   width: 700px;
   align-content: center;
   border-collapse: separate;
   border-spacing: 20px;
   background-color: #ffffff;


 } th {
  border-bottom: solid rgba(0, 0, 0, 0.38) 1px;
   }
td {
 text-align: center;

}

.tr td {
  border-right: ridge rgba(0, 0, 0, 0.11) 1px;

 }

.admin_orders_table {
  width: 100%;
}

.cartTable {

}
.cartTable table {
  border: 1px solid  #BBBBBB;
}
.cartTable table td {
  text-align: left;
}
.cartTable table th {
  text-align: left;
  font-size: 18px;
}

.navi:active {
  background-color: greenyellow;
}


/*Дашборд*/
.statistic-table table {
  background-color: rgba(0, 192, 0, 0.58);
  color: #ffffff;
}
.statistic-table p {
  font-size: 12px;
}

/*Для бокового меню в ордері*/
.orderbar > li > a:hover, a:active {
  background-color: #449d44;
}