@import "bootstrap-sprockets";
@import "bootstrap";

.flash {
  position: absolute;
  right: 46%;
  margin-top: 70px;
}
.item_conteiner {
  float: left;
  margin-top: 70px;
  margin-left: 50px;
}
.item {
  margin-top: 20px;
  width: 900px;
  height: 128px;
  box-shadow: rgba(0, 0, 0, 0.3) 15px 15px 15px;
}
 table {
   width: 850px;
  align-content: center;
   border-collapse: separate;
   border-spacing: 20px;

} td {
  text-align: center;
   }